.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 300px;
    max-height: 100px;
    background-color: #ddd;
    margin: 0 8px;
    border-radius: 3px;
}

.subtotal_count {
    margin-left: 5px;
}


.subtotal > p {
    display: flex;
}

.checkout__gift {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.checkout__gift > input {
    margin-right: 8px;
}

.subtotal > button {
    background-color: #F3A847;
    border: none;
    padding: 5px;
    cursor: pointer;
}
